.mt-navigation {
    width: 100%;
    height: 100%;

    background-color: #777777;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-navigation-arrow {
    width: 80px;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 80px;
    cursor: pointer;
    color: #f5cd00;
    stroke: black;
    stroke-width: 10px;
    transition: color 0.1s ease-in-out;
}

.mt-navigation-arrow.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.mt-navigation-arrow:not(.disabled):hover {
    color: #ffffff;
}

.mt-navigation-arrow-left {
    left: 0;
}

.mt-navigation-arrow-right {
    right: 0;
}

.mt-navigation-rails {
    width: 100%;
    height: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background: url('./rails.jpg') repeat-x;
    background-size: contain;
}

.mt-navigation-road {
    width: 100%;
    height: 50%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    background: url('./road.jpg') repeat-x;
    background-size: auto 150%;
}

.mt-navigation-train {
    z-index: 2;
}

.mt-navigation-train > img {
    width: 160px;
    margin-bottom: 120px;

    pointer-events: none;
}

.mt-navigation-label {
    width: 100%;

    position: absolute;
    bottom: 0;
    z-index: 2;

    color: white;
    font-size: 42pt;
    font-family: "Great Vibes", serif;
    text-align: center;
    text-shadow: 2px 4px 5px black;

    pointer-events: none;
}