<!DOCTYPE html>
<html>
<head>
    <title>Mitch Talmadge - Digital Story - WRTG 3040</title>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>

    <base href="/wrtg/digital_story/"/>

    <style type="text/css">
        body {
            background-color: #f1f1f1;
        }
    </style>

    <style type="text/css">
        <%= require("!to-string-loader!css-loader!./splashscreen/splashscreen.css") %>
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp5mvN4YY-RI2Z5cT5Uyk1PvdDM72ukeI"></script>

</head>
<body>
<mt-app></mt-app>

<div id="splashscreen">
</div>
</body>
</html>
